#editor-1{
    position: relative;
    width: 95%;
    height: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
#editor-2{
    position: relative;
    width: 95%;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: x-large;
}
footer{
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
.wrapper {
    text-align: center;
}
button{
    text-align: center;
    position: absolute;
    text-decoration: none;
    cursor: pointer;
  }
  select {
    min-width: 350px;
    position: relative;
  }
  
  select {
    appearance: none;
    width: 100%;
    font-size: medium;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
  }
  
  select::before,
  select::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
  }
  
  select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
  }
  
  select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
  }
  
  
  /*=============
  Aesthetics 
  =========================*/
  
  * {
    box-sizing: border-box;
  }

input:invalid {
  border: 2px solid red;
}

button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

button:disabled {
  cursor: default;
}

button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

input {
font-size: 13px;
border-radius: 4px;
line-height: 1.5;
padding: 5px 10px;
transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
border: 2px solid #dee1e2;
color: rgb(14, 14, 16);
background: #dee1e2;
display: block;
height: 30px;
}

input:hover {
    border-color: #ccc;
}
input:focus{
    border-color: #405cf5;
    background: #fff;
}
ul {
  border-radius: 10px;
  font-weight: 600;
  font-size: medium;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #5c74fffb;
  color: white;
}
.active {
  background-color: #405cf5;
  color: white;
}