<!DOCTYPE html>
<html lang="en">
<head>
<title>Редактор шаблона</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_editor.css') }}">

<ul>
  <li><a href="plotly_editor" class="active">Шаблоны</a></li>
  <li><a href="add_source">Источники</a></li>
  <li><a href="add_graph">Диаграммы</a></li>
  <li><a href="manager">Менеджер</a></li>
  <li><a href="/">Главная</a></li>
</ul>
</head>
<body>
<form id="form" method = "POST" enctype="multipart/form-data" action = "/add_any">
<label for="name">Название шаблона:</label><br>
<input type="text" id="name" required name="name"><br>
<label for="feature">Служебное название:</label><br>
<input type="text" id="feature" required pattern="[a-z, 0-9, _]{2,255}" name="feature"><br>

<label for="editor-2">Plotly код:</label><br>
<div id="editor-2">#available objects: fig, px, go
#to use your own variables define it as global
</div>
<input name="code" type="hidden" id="code">
<input type="hidden" id="table" name="table" value="plots">
<div class="wrapper">
<button type="submit">Добавить</button>
</div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/ace.js') }}"></script>
<script src="{{ url_for('static', filename='js/ext-language_tools.js') }}"></script>
<script src="{{ url_for('static', filename='js/init_editors.js') }}"></script>



</body>
</html>